<h1>Hey, that used to be a Wawa!</h1>

<p>
	Wawa Markets have been around for decades now. Long enough that many of them have come and gone over the years, leaving their distinctive Wawa storefront behind. A Notwa is one of those 'used-to-be-a-wawa's. Once you start seeing them, you'll see them everywhere!
</p>

<p>
  	<% if !current_user %>
		Sign up to add one we've missed!
	<% end %>
</p>

<hr>
<% @wawas.each do |wawa|%>
	<%  if wawa.prime_photo %>
		<%=  image_tag wawa.prime_photo(:medium) %>
	<% end %>
	<%= "submitted by username [#{wawa.user}] " %>
	<%= "[#{wawa.city}], [#{wawa.state}]" %>
	<hr>
<% end %>

