<h1>Individual Show Wawa Page</h1>

	<div class="profileBox">
		<% if @wawa.prime_photo.exists? %>
			<%= image_tag @wawa.prime_photo.url %>
		<% end %>
	</div>

	<% if @comments %>
		<% @comments.each do |comment| %>
			<div class="profileBox">
				<%= comment_username comment %>
				<%= comment.body %>
			</div>
		<% end %>
	<% end %>

