/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body { 
	font-size: 24px;
	padding-top: 130px; 
	// background: url('/assets/stonework.jpg') center center cover no-repeat fixed;
  /* Location of the image */
  background-image: url('/assets/stonework.jpg');
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
};

.carousel-caption {
   position: relative;
}
.nav_bg {
	height: 100px;
	font-size: 25px;
	background-image: url('/assets/rooflineLJ.jpg');	
	// background-image: url('/assets/rooflineLaptop.jpg');	
	/* Background image doesn't tile */
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.avoid_brand {
	margin-left: 30px;
}
.navlink {
	margin-top: 20px;
	margin-right: 20px;
}
a.link_override {
	color: white !important;
   &:hover {
      color: red !important;
    }
}
.big_header {
	font-size: 60px;
}
.sidebar_text {
	font-size: 30px;
	color: Crimson;
}
.crimson {
	color: Crimson;
}
.profile_top_padding {
	margin-top: 40px; 
}

.comment_byline {
	font-size: 20px;	
}

.comment_btn {
	margin-top: 33px;
}

/*
 *  styling for wawa/comments
 */
.bordered {
	border: 3px solid black;
	padding: 5px;
	padding-left: 20px;
	padding-top: 15px;
}
.blog-post {
	padding: 5px;
	padding-left: 20px;	
	padding-top: 15px;

}

.profileBox {
	border: 10px ridge gray;
	background-color: gray;
}

/*
 *  styling for google map element
 */
#gmap {
	width: 700px;
	height: 400px;
}
#gmap_show {
	width: 300px;
	height: 450px;
}