/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fancybox
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// .nav ul {
// 	margin: 20; 
// }

// .nav ul li {
// 	display: inline; 
// 	margin-left: 30px;
// }

// .nav ul li a {
// 	text-decoration: none;
// 	font-size: 30px; 
// }

// .nav ul li a:hover {
// 	background-color: #111111;
// 	color: #0E0EFF;
// }
body { 
	padding-top: 70px; 
	// background: url('/assets/stonework.jpg') center center cover no-repeat fixed;
  /* Location of the image */
  background-image: url('/assets/stonework.jpg');
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
}

/*
 *  styling for google map element
 */
.bordered {
	border: 3px solid black;
	padding: 5px;
	padding-left: 20px;
	padding-top: 15px;
}

.blog-post {
	padding: 5px;
	padding-left: 20px;	
	padding-top: 15px;

}

.profileBox {
	border: 10px ridge gray;
	background-color: gray;
}

/*
 *  styling for google map element
 */
#gmap {
	width: 800px;
	height: 400px;
}